.header-hero{width: 80%;}
.header-hero-greet{
    margin-top: 10%;
    h3{width: 45%; line-height: 1rem;}
    p{width: 45%; line-height: 2.3rem;;}
}
.keep-scroll{width: auto; position: absolute; bottom: 5%; right: 10%;}


@media(max-width:1400px){
    .header-hero-greet{
        margin-top: 6%;
        h3{width: 65%; line-height: 1rem;}
        p{width: 60%; line-height: 2.3rem;;}
    }
    .keep-scroll{width: auto; position: absolute; bottom: 0; 
        & p{
        font-size: 1rem;}
    }   
}