.wpb_content_element{
	margin-bottom:0!important;
}

.vc_row-has-fill > .vc_column_container > .vc_column-inner{
	padding-top:0!important;
}

.vc_row{
	width:100%;
	max-width:var(--site-width);
	margin:0 auto!important;
}

.vc_row[data-vc-full-width="true"]{
	max-width:100%;
}

.vc_row[data-vc-full-width="true"] .wpb_wrapper{
	width:100%;
	margin: 0 auto;
}

.vc_row[data-vc-stretch-content="true"] .wpb_wrapper{
	max-width:100%;
}

.vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper{
	margin-right:0!important;
}
