
/*** ANIMATIONS ***/
.xx-slideright.hdn {
    transform: translateX(-80px);
    transition: all .8s; }
  
  .xx-slideright.vsb {
    transform: translateX(0);
    transition: all .8s; }
  
  .xx-slideleft.hdn {
    transform: translateX(80px);
    transition: all .8s; }
  
  .xx-slideleft.vsb {
    transform: translateX(0);
    transition: all .8s; }
  
  .xx-slidetop.hdn {
    transform: translateY(-80px);
    transition: all .8s; }
  
  .xx-slidetop.vsb {
    transform: translateY(0);
    transition: all .8s; }
  
  .xx-slidebottom.hdn {
    transform: translateY(80px);
    transition: all .8s; }
  
  .xx-slidebottom.vsb {
    transform: translateY(0);
    transition: all .8s; }
  
  .xx-fadein.hdn {
    opacity: 0;
    transition: all .8s; }
  
  .xx-fadein.vsb {
    opacity: 1;
    transition: all .8s; }
  
  .xx-delaysm {
    transition-delay: 0.2s !important; }
  
  .xx-delaymd {
    transition-delay: 0.3s !important; }
  
  .xx-delaylg {
    transition-delay: 0.4s !important; }
  
  .xx-delayxl {
    transition-delay: 0.5s !important; }
  
  .xx-delayxxl {
    transition-delay: 0.6s !important; }
  