:root {
    --test-color:#e1890d;
    --main-color: #13119d;
    --header-height:100px;
    --links-hover:#333;
    --header-bg:#ffffff;
    --footer-bg:#f3f3f3;
    --site-width:1400px;
    --global-font:Averta; }
  